/* My fonts */
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* My Variables */
:root {
    --primary: #1A639E;
    --secondary: #737373;
    --headingsMainFont: 'Source Sans Pro', sans-serif;
    --ulFonts: "Public Sans", system-ui;
    --ulSize: 14px;
    --light: #fff;
    --dark: #000000;
    --burger-menuColor: #1C1B1F;
    --border: #F4F4F4;
    --transition: .3s linear;
    --imgTransition: filter 0.3s ease;
    --radius: 8px;
    --headingsSize: 28px;
    --bodySize: 16px;
    --lineHeight: 32px;
    --footer: #1D1F26;
}

/* My basic styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--headingsMainFont);
    font-weight: 400;
    font-size: var(--bodySize);
}

h2 {
    color: var(--primary);
    font-size: var(--headingsSize);
}

a {
    text-decoration: none;
    color: var(--secondary);
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

/* *************** ACCESSIBILITY/SEO */
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.container {
    width: 1080px;
    max-width: 100%;
    margin: auto;
}

.headings {
    font-size: var(--headingsSize);
    color: var(--primary);
    font-weight: 700;
}

.w-100 {
    width: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.text-bold {
    font-weight: 700;
}

.inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.align-self-end {
    align-items: self-end;
}

.flex-1 {
    flex: 1;
}

.gap-6 {
    gap: 6px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.gap-60 {
    gap: 60px;
}

.gap-80 {
    gap: 80px;
}

.btn {
    border-radius: 4px;
    background: var(--dark);
    color: var(--light);
    width: 88px;
    height: 36px;
    cursor: pointer;
}

.btn-link {
    all: unset;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.6px;
    letter-spacing: -0.01em;
    cursor: pointer;
    color: var(--primary);
}

.card-headings {
    font-family: Source Sans Pro;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
}

.text-light {
    color: var(--white);
}

.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

input {
    padding-left: 10px;
}

.relative {
    position: relative;
}

.searchContent button {
    all: unset;
    cursor: pointer;
}

.searchContent input {
    height: 28px;
    min-width: 274px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #BEBEBE;
    outline: none;
}

.burger-menu-menu {
    display: none;
}

/* Dropdown */
.dropdown {
    z-index: 5;
    padding: 10px;
    background-color: var(--light);
    display: none;
}

.active {
    display: block;
}

.dropdown li button {
    margin-bottom: 5px;
    display: inline-block;
}

.mobile-nav button {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2px;
}

.mobile-nav button img {
    width: 16px;
    height: 16px;
    background-image: url("./images/chevron-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.rotate {
    transform: rotate(180deg);
}

/* Header */
.header-wrapper {
    background: var(--light);
    position: relative;
    z-index: 50;
    padding: 10px 0;
}

.logo {
    margin-right: 12px;
}

/* Hero section */
.hero-content {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 14px 0 40px 0;
}

.hero-content>div {
    padding: 16px;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    display: flex;
    align-items: baseline;
    gap: 10px;
    transition: var(--transition);
}

.hero-content>div div:nth-child(2) p:nth-child(2) {
    color: var(--secondary);
    margin-top: 10px;
}

.hero-content img {
    width: 34px;
}

/* Navbar */
.mobile-nav {
    z-index: 49;
}

.mobile-nav li {
    position: relative;
    margin-bottom: 5px;
}

nav>ul {
    font-family: var(--ulFonts);
    font-size: var(--ulSize);
    color: var(--secondary);
    list-style: none;
    padding: 14px 0;
}

/* End of navbar */

/* SLIDER */
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 516px;
    border-radius: var(--radius);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
}

.slider img {
    width: 100%;
    object-fit: cover;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* END OF SLIDER */
/* badge */
.hey-ville {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    background: var(--dark);
    color: var(--light);
    padding: 7px 8px;
    border-radius: 4px;
}

.hey-ville img {
    width: 15px;
    display: inline-block;
    margin-right: 5px;
}

.hey-ville span {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
}

/* End of hero section */

/* Upcoming Events */
.upcoming-events {
    padding: 40px 0;
}

.upcoming-events>div:nth-child(1) {
    margin-bottom: 20px;
}

.upcoming-events-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33% - 30px), 1fr));
    gap: 30px;
    max-height: 145px;
    overflow: hidden;
}

.upcoming-events-content>div {
    border-top: 1px solid #BEBEBE;
}

.upcoming-events-content>div div:nth-child(2) h4.text-bold {
    margin: 12px 0 18px 0;
}

.upcoming-events-content>div div:nth-child(2) .events-wrapper {
    color: var(--secondary);
}

.events-wrapper>div {
    margin-bottom: 4px;
}

.events-wrapper img {
    display: inline-block;
    margin-right: 6px;
    width: 20px;
    height: 20px;
}

.events-img img {
    margin-left: 15px;
}

.show-more {
    max-height: none !important;
}

/* End of Upcoming Events */

/* News */
.news {
    padding: 40px 0;
}

.news-content {
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 20px));
    gap: 30px;
    max-height: 365px;
    overflow: hidden;
}

.news>div:nth-child(1) {
    margin-bottom: 20px;
}

.news-content>div div:nth-child(2) p:nth-child(1) {
    margin: 20px 0 10px 0;
}

.news-content>div div:nth-child(2) p:nth-child(3) {
    margin-top: 10px;
    color: var(--secondary);
}

.news-content>div img {
    filter: grayscale(100%);
    transition: var(--imgTransition);
    border-radius: var(--radius);
}

/* End of news */

/* Recordings */
.recordings {
    padding: 40px 0;
}

.recordings-content {
    display: grid;
    grid-template-columns: repeat(3, calc(33.33% - 20px));
    gap: 30px;
    max-height: 270px;
    overflow: hidden;
    transition: 500ms max-height ease;
}

.recording-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 270px;
}

.recordings>div:nth-child(1) {
    margin-bottom: 20px;
}

.recording-item div:nth-child(2) {
    color: var(--secondary);
}

video {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: var(--radius);
    transition: var(--imgTransition);
    cursor: pointer;
    z-index: 1;
}

.video-overlay {
    width: 100%;
    height: 175px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    border-radius: 8px;
    cursor: pointer;
}

.video-grayscale {
    filter: grayscale(100%);
    transition: var(--imgTransition);
}

.video-overlay>img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
    visibility: hidden;
}

.duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 12px;
}

/* End of recordings */

/* Subscribe */
.subscribe {
    padding: 60px 0;
    background: #F4F4F4;
}

.subscribe-title {
    width: 410px;
    width: 100%;
}

.subscribe-input {
    width: 610px;
    width: 100%;
}

.subscribe-input input {
    outline: none;
    border: 1px solid var(--secondary);
    border-radius: 4px;
}

.subscribe h2 {
    margin-bottom: 24px;
}

.subscribe-input-user input {
    max-width: 290px;
    width: 100%;
    height: 36px;
    gap: 0px;
    border-radius: 4px;
}

.subscribe-input-email input {
    max-width: 492px;
    width: 100%;
    height: 36px;
}

/* End of subscribe */


/* Footer */
footer {
    background-color: var(--footer);
    color: var(--light);
    padding: 56px;
}

footer button {
    all: unset;
    padding: 8px 12px;
    background-color: var(--dark);
    border-radius: var(--radius);
    cursor: pointer;
}

footer ul li a {
    color: var(--light);
    margin-bottom: 5px;
    display: inline-block;
}

footer>div:nth-child(2) {
    margin: 40px 0;
}

footer .footer-like {
    padding-bottom: 55px;
    border-bottom: 1px solid var(--secondary);
}

.subscribe-updates input {
    min-width: 240px;
    border-radius: 4px;
    border: 1px solid #BEBEBE;
}

.subscribe-updates button {
    padding: 0 12px;
    border-radius: 4px;
    background: #F4F4F4;
    color: var(--primary);
    font-weight: 600;
    min-width: 158px;
    width: 100%;
}

.subscribe-updates :is(button, input) {
    height: 28px;
}

.brightness {
    filter: brightness(2);
}

.copyright {
    margin-top: 40px;
}

.copyright>span {
    font-size: 14px;
    color: var(--secondary);
}

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 110;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #737373;
    width: 50%;
    min-height: 200px;
    border-radius: 8px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content span {
    position: absolute;
    right: 15px;
    top: 15px;
}

.modal-content p {
    color: var(--primary);
    font-weight: 700;
    font-size: 32px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close>img {
    width: 20px;
    height: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* End of modal */


/* Responsive max-width 1200px */
@media (max-width: 1200px) {

    .container {
        padding: 0 20px;
    }

    /* hero */
    .hero-content {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .hero-content>div:nth-child(5) {
        grid-column: span 2;
    }

    .hero-content img {
        max-width: 24px;
    }

    /* news */
    .news-content h3 {
        font-size: 18px;
    }

    .news-content>div div:nth-child(2) p:nth-child(1) {
        margin: 8px 0;
    }

    .news-content>div div:nth-child(2) p:nth-child(3) {
        margin-top: 7px;
        font-size: 14px;
    }

    .news-content {
        max-height: 335px;
    }

    /* recordings */
    video {
        height: 250px;
    }

    .recordings-content {
        max-height: 348px;
    }

    .recording-item {
        height: 365px;
    }

}

/* Responsive max-width 991px */
@media screen and (max-width: 991px) {

    /* header */
    .slider {
        height: unset;
    }

    .slider img {
        object-position: center;
        height: 100%;
    }

    .subscribe-updates button {
        max-width: 158px;
    }

    .subscribe-updates {
        padding-top: 100px;
    }

    /* burger-menu*/
    /* MOBILE NAV */
    .mobile-nav {
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        width: 100%;
        height: fit-content;
        display: block;
        background-color: var(--light);
        padding: 100px 20px 32px 20px;
        transition: var(--transition);
    }

    .mobile-nav ul {
        flex-direction: column;
    }

    /* .mobile-nav a {
        margin: auto;
        display: block;
        width: 100%;
        max-width: 300px;
        text-align: center;
        margin-bottom: 36px;
        padding: 12px 16px;
        background-color: var(--primary);
        color: var(--light);
        border-radius: 30px;
    } */

    .mobile-nav a {
        color: var(--secondary);
    }

    .mobile-nav a:hover {
        opacity: .8;
        transition: var(--transition);
    }

    /* MOBILE NAV IS-ACTIVE*/
    .mobile-nav.is-active {
        top: 0;
    }

    /* burger-menu style */
    .burger-menu {
        display: block;
        position: relative;
        margin: 8px 8px 0 8px;
        cursor: pointer;
        user-select: none;
        appearance: none;
        border: none;
        outline: none;
        background: none;
        z-index: 100;

    }

    .burger-menu span {
        display: block;
        width: 34px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background-color: var(--burger-menuColor);
        border-radius: 6px;
        transform-origin: 0 0;
        transition: var(--transition);
    }

    /* burger-menu IS-ACTIVE */
    .burger-menu.is-active:hover span {
        opacity: .7;
    }

    .burger-menu.is-active span:nth-child(1) {
        transform: translate(1px, -2px) rotate(45deg);
    }

    .burger-menu.is-active span:nth-child(2) {
        opacity: 0;
        transform: translateX(15px);
    }

    .burger-menu.is-active span:nth-child(3) {
        transform: translate(-3px, 4px) rotate(-45deg);
    }

    /* END OF burger-menu */

    /* events */
    .upcoming-events-content h3 {
        padding: 10px 0;
    }

    .upcoming-events-content {
        grid-template-columns: repeat(2, 1fr);
    }

    /* news */
    .news {
        padding: 20px;
    }
    .news-content {
        grid-template-columns: repeat(2, calc(50% - 15px));
        max-height: 330px;
    }

    .news-content>div img {
        width: 100%;
        height: 217px;
        object-fit: cover;
        object-position: center;
    }

    /* recordings */
    .recordings {
        padding: 20px;
    }

    .recordings-content {
        grid-template-columns: repeat(2, 1fr);
    }

    /* footer */
    .footer-logo>div:nth-child(1) {
        justify-content: center;
        gap: 45.5px;
    }

    .footer-logo>div:nth-child(2) {
        justify-content: center;
        align-items: center;
        padding-top: 100px;
    }

    .footer-logo:nth-child(2) {
        flex-direction: column;
    }
}

/* Responsive min-width 991px */
@media screen and (min-width: 991px) {
    .dropdown {
        position: absolute;
        top: 150%;
    }

    /* nav bar */
    .mobile-nav a,
    .mobile-nav button {
        position: relative;
        transition: var(--transition);
    }

    .mobile-nav a:hover,
    .mobile-nav button:hover {
        color: var(--logoSpan);
    }

    .mobile-nav a::after,
    .mobile-nav button::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background: var(--primary);
        left: 0;
        bottom: -5px;

        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms ease-in;

    }

    .mobile-nav a:hover::after,
    .mobile-nav button:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }



    .mobile-nav a:hover,
    .mobile-nav button:hover {
        color: var(--primary);
    }
    .large-none {
        display: none;
    }

    /* hero */
    .hero-content>div:hover {
        box-shadow: 1px 1px 8px rgba(0, 0, 0, .3);
    }

    /* news */
    .news-content>div img:hover {
        filter: grayscale(0%);
    }

    /* events */
    .upcoming-events-content>div div:nth-child(2) .events-wrapper {
        margin-left: 20px;
    }

    .upcoming-events-content h3 {
        padding: 12px 12px 18px 20px;
    }

    /* recordings */
    .recording-item:hover video {
        filter: grayscale(0%);
    }

}


/* Responsive max-width 768px */
@media screen and (max-width: 768px) {
    .headings {
        font-size: 20px;
    }

    .search {
        display: none;
    }

    /* badge */
    .hey-ville {
        bottom: 10px;
        right: 10px;
        padding: 4px 6px;
    }

    .hey-ville img {
        width: 10px;
    }

    .hey-ville span {
        font-size: 10px;
        line-height: 11.75px;
    }

    /* hero */
    .hero-content {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .hero-content>div:nth-child(5) {
        grid-column: span 2;
    }

    /* Events */
    .events-wrapper {
        font-size: 12px;
    }

    .events-wrapper div:nth-child(1) {
        color: var(--primary);
        padding: 6px;
        border: 1px solid var(--primary);
        font-weight: 600;
        border-radius: 4px;
        width: fit-content;
        margin-bottom: 6px;
    }

    .upcoming-events-content {
        max-height: 150px;
    }

    .events-img,
    .img-d-none {
        display: none !important;
    }


    /* news */
    .news-content {
        grid-template-columns: 1fr;
        max-height: 580px;
    }

    .news-content>div {
        display: flex;
        gap: 12px;
        height: 165px;
    }

    .news-content p {
        font-size: 14px;
    }

    .news-content>div img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    .news-content div>div {
        flex: 1 1 50%;
    }

    .card-headings {
        font-size: 16px;
        line-height: unset;
    }

    /* recordings */
    .recordings-content {
        grid-template-columns: 1fr;
        max-height: 1160px;
    }

    video {
        height: 300px;
    }

    .video-overlay {
        height: 300px;
    }

    .video-overlay .vPlay {
        display: block;
        visibility: visible;
    }



    /* subscribe */
    .subscribe-content {
        flex-direction: column;
    }

    .subscribe-input-user,
    .subscribe-input-email>div {
        gap: 10px;
    }

    .subscribe-input-user>div {
        flex: 1 1 50%;
    }

    .subscribe-input-user input,
    .subscribe-input-email input {
        max-width: unset;
    }

    .subscribe-updates :is(button, input) {
        min-width: fit-content;
    }

    /* Footer */
    footer>div:nth-child(1) {
        flex-direction: column;
    }

    .footer-like>div:nth-child(2) {
        margin-top: 20px;
    }

    .footer-logo-img {
        width: 60px;
    }

    /* modal */
    .modal-content {
        width: 80%;
    }

    .modal-content p {
        font-size: 22px;
    }
}

/* Responsive min-width 576px */
@media screen and (min-width: 576px) {
    .burger-menu:hover span:nth-child(2) {
        transform: translateX(10px);
    }
}

/* Responsive max-width 480px */
@media screen and (max-width: 480px) {

    /* news */
    .news-content h3 {
        font-size: 16px;
    }

    .news-content>div div:nth-child(2) p:nth-child(1) {
        margin: 4px 0;
        font-size: 10px;
    }

    .news-content>div div:nth-child(2) p:nth-child(3) {
        font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: box;
    -webkit-line-clamp: 3;
    line-clamp: 3; 
    -webkit-box-orient: vertical;
    box-orient: vertical; 
    }

    /* Subscribe */
    .subscribe-updates {
        flex-direction: column;
    }

    .subscribe-updates button {
        max-width: unset;
        width: unset;
    }

}